.MuiInput-root {
    font-size: 3rem !important;
}

.MuiInputBase-input {
    padding: 0px;
    font-size: 3rem !important;
}

.alertWrapper {
  padding-bottom: 6px; 
  position: fixed;
  right: 30px;
  top: 110px;
  max-width: 500px;
}
