.expenseGroupsWrapper {
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
    height: 95%;
}

@media only screen and (max-width: 1000px) {
  .expenseGroupsWrapper {
    padding-bottom: 60px;
  }
  .alertWrapper {
    top: 205px !important;
  }
}

.pageHeaderWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.alertWrapper {
  padding-bottom: 6px; 
  position: fixed;
  right: 30px;
  top: 110px;
  max-width: 500px;
}
