html {
  --background: #1A2234;
  --primary: #1D273B;
  --secondary: #206BC4;
  --text: #EDF7F6; 
  --selected: #252F43; 
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  /* box-sizing: border-box; */
  overflow: hidden;
}

.appWrapper {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  height: 100%;
  padding-bottom: 50px;
}

#root {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .appWrapper {
    flex-direction: column;
    
    padding-top: 60px;
    
  }
}