.expenseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 150px; */
    font-size: 18px;
}

.expenseHeaderElement {
    width: 130px;
}

.percentageMapWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percentageMapElement {
    max-width: 50px;
}