.expenseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 150px; */
    font-size: 18px;
}

.expenseHeaderElement {
    width: 130px;
}

.percentageMapWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    max-width: 90px;
    min-width: 90px;
}

.numbers {
    max-width: 50px;
    min-width: 50px;
}

.percentageMapElement {

    margin-right: 20px;
    padding: 10px;
}

.marginLeft {
    margin-left: 10px;
}