.expenseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 150px; */
    font-size: 18px;
}

.expenseHeaderElement {
    width: 150px;
    font-size: 1.2rem;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.paidBy {
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}