.navWrapper {
    background-color: var(--secondary);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px 50px 70px 50px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 160px;
}

.topButtons {
    background-color: var(--secondary);
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 160px;
}

.logoutButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.logoutButtonWrapper:hover {
    color: var(--primary);
    cursor: pointer;
    background-color: var(--selected);
}

.contactIcon {
    padding-right: 20px;
    padding-bottom: 10px;
}

.pfp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--text);
}

.navButton {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    font-size: 1.2rem !important;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.navButton:hover {
    color: var(--primary);
    cursor: pointer;
    background-color: var(--selected);
}

@media only screen and (max-width: 1000px) {
    .navWrapper {
      flex-direction: row;
      width: 100%;
      max-width: 1000px !important;
      justify-content: space-around;
      align-items: center;
      max-height: 90px;
      padding: 10px;
      /* position: fixed; */
      top: 0;
      z-index: 1;
    }

    .bottomButtonsWrapper {
        display: flex;
        flex-direction: row;
    }

    .topButtons {
        flex-direction: row;
    }
  }